/* .categoryPage_container{
    border: 5px solid gray;
}

.productCardDivs  {
    border: 5px solid gray;
}

.filterDivs{
    border: 3px solid salmon
}

.productCardListsDivs{
    border: 3px solid #901E3E ;
} */